.theme-gravity{
  --body-bg: #181A29;
  --primary: #44D7B6;
  --body-color: #D8D8D8;
  --base-box-shadow: none;
  --nav-burger-lines-background-color: var(--body-color);
  --nav-burger-border-color: var(--body-bg);
  --nav-header-color: var(--body-color);
  --font-family-base: 'Poppins', #{$font-family-sans-serif};
  --headings-font-family: 'Poppins', #{$font-family-sans-serif};
  --nav-header-font-family: 'Orbitron', #{$font-family-sans-serif};
  --nav-header-fz-scale: 0.59;
  --card-background-color: #22253B;
  --base-border-color: #262942;
  --secondary-light: #323652;
  --success-light: var(--secondary-light);
  --hr-border-color: #3D4162;
  --logo-height: 44px;
  --logo-height-md: 44px;
  --logo-width: 157px;
  --logo-width-md: 157px;
  --navbar-backdrop-background: var(--body-bg);
  --btn-font-weight: 400;
  --btn-disabled-opacity: 0.39;
  --input-bg: var(--body-color);
  --input-color: #000000;
  --input-border-color: var(--input-bg);
  --input-disabled-bg: var(--secondary-light);

  &.page-wrapper, .page-wrapper{
    background: var(--body-bg);

    @include media-breakpoint-up(sm){
      background: url("/img/gravity/body.svg") no-repeat center 250px, var(--body-bg);
    }
  }

  .btn-primary {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);

    &:hover:not(:disabled) {
      color: #000000;
      background-color: #EEECEC;
      border-color: #EEECEC;
    }
    &.disabled,
    &:disabled {
      color: var(--body-color);
      border-color: $text-muted;
    }
  }

  .btn-secondary-gradient {
    background: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
    &:hover:not(:disabled) {
      background: #EEECEC;
      border-color: #EEECEC;
      color: #000000;
    }
  }

  .nav-header{
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    letter-spacing: 3.71429px;
    @include media-breakpoint-only(md){
      letter-spacing: normal;
    }
  }

  .nav-burger {
    height: 44px;
    i {
      left: 19px;
      top: 16px;
      transform: none;
      &:nth-child(1) {
        width: 44px;
        top: 16px;
      }
      &:nth-child(2) {
        width: 28.5px;
        top: 25px;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }
  .nav {
    &.active {
      .nav-burger {
        i {
          width: 24.59px;
          height: 2.24px;
          &:nth-child(1) {
            left: calc(50% + 1px);
            transform: rotate(-45deg) translate(-50%, -50%);
          }
          &:nth-child(2) {
            transform: rotate(45deg) translate(-50%, -50%);
          }
        }
      }
    }
  }
}
