html {
  font-size: $html-fz;
}

body {
  min-height: 100vh;
}

.page-wrapper {
  /**
  Нужно, чтобы прижать футер к нижней части экрана
   */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: $body-color;
  font-family: $font-family-base;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F9FA 90.48%), $body-bg;

  @include media-breakpoint-up(sm){
    background: url("/img/susy/body.svg") no-repeat center 250px, linear-gradient(180deg, #FFFFFF 0%, #F3F9FA 90.48%);
  }
  @each $name, $width in $container-max-widths {
    @include media-breakpoint-up($name){
      background-size: #{$width - $grid-gutter-width} auto, 100% 100%;
    }
  }

  > {
    main {
      flex: 1 0 auto;
    }

    footer, nav, header {
      flex-shrink: 0;
    }
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hide {
  position: absolute;
  z-index: -9999;
  width: 0;
  height: 0;
  max-width: 0;
  opacity: 0;
}


.responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &-sizer {
    display: block;
    padding-top: 100%;
  }
}

.responsive-bsizer {
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.link-invert{
  text-decoration: none!important;
  @include hover() {
    text-decoration: underline!important;
  }
}


::-webkit-scrollbar-track{
  background-color: $secondary-light;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background-color: $secondary;
}
::-webkit-scrollbar{
  width: 8px;
  border-radius: 8px;
}

.headings-font-family{
  font-family: $headings-font-family;
}

.html-overflow-hidden{
  @include media-breakpoint-down(xs){
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.wrapper-icon-circle, .wrapper-box-rounded{
  position: relative;
  border-radius: 50%;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
  }
  &:before {
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $wrapper-icon-circle-border-background;
  }
  &:after {
    z-index: 2;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background: #ffffff;
  }
  .icon {
    z-index: 3;
  }
}

.wrapper-box-rounded{
  border-radius: $input-btn-border-radius - 2px;
  &:before,
  &:after {
    border-radius: $input-btn-border-radius - 2px;
  }
  &:before {
    background: $wrapper-box-rounded-border-background;
  }
  &:after {
    transform: none;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background: $wrapper-box-rounded-background;
  }
}
