@charset "utf-8";

.modal-open {
  overflow: hidden;
}

.modal-open .modal-wrapper {
  display: block;
}

.modal-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/*  Backdrop
----------------------------------------*/
.modal-backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(50, 80, 80, 0.31);
  backdrop-filter: blur(24.4645px);
  z-index: 1000;
}

.modal-backdrop-enter-active,
.modal-backdrop-leave-active {
  transition: opacity 300ms ease-out;
}

.modal-backdrop-enter,
.modal-backdrop-leave-active {
  opacity: 0;
}

/*  Content
----------------------------------------*/
.modal-content-wrapper {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1001;
}

.modal-content {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1;
  margin: 30px auto;
  max-width: 660px;
  width: 100%;
  background: $modal-content-bg;
  transform: translateY(0);
  border: 1px solid #EAF1F3;
  border-radius: 18px;
  @media (max-width: 700px) {
    width: calc(100vw - #{$grid-gutter-width});
  }
}

.modal-content-enter-active,
.modal-content-leave-active {
  transition: 300ms cubic-bezier(0.51, 0.21, 0.38, 0.98);
  transition-property: opacity, transform;
}

.modal-content-enter,
.modal-content-leave-active {
  opacity: 0;
  transform: translateY(-50px);
}


.modal-head{
  padding: 38px 0 28px 0;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  @include media-breakpoint-up(sm){
    font-size: 28px;
  }
}
.modal-body{
  padding: 0 0 44px 0;
}
.modal-footer{
  padding: 34px 0 44px 0;
}
.modal-close{
  position: absolute;
  right: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  outline: none!important;
  color: $secondary;
  &:hover{
    color: $primary;
  }
  .icon{
    width: 13px;
    height: 13px;
  }
}

.modal-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 520px + $modal-padding-x * 2;
  padding: 0 $modal-padding-x;
}

.modal-lg{
  max-width: 910px;
  @media (max-width: 950px) {
    width: calc(100vw - #{$grid-gutter-width});
  }
  .modal-container {
    max-width: 850px + $modal-padding-x * 2;
  }
}
